<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TASKE</title>
    <!-- CSS -->
    <link
      rel="preload"
      href="css/style.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="icon" href="data:;base64,=" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Material symbols -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="src/projectfunctions.js" defer></script>
    <script src="src/sidebar.js" defer></script>
  </head>

  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-symbols-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-symbols-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-symbols-outlined">notifications</span>
          <span class="material-symbols-outlined">email</span>
          <span class="material-symbols-outlined">account_circle</span>
        </div>
      </header>
      <!-- Header End -->
      <!-- Sidebar  -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <!-- task manager symbol -->
            <span class="material-symbols-outlined"> editor_choice </span>TASKE
          </div>
          <span class="material-symbols-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/home">
              <span class="material-symbols-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/tasks">
              <span class="material-symbols-outlined">inventory</span> Tasks
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/projects">
              <span class="material-symbols-outlined">inventory_2</span>
              Projects
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-symbols-outlined">report</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/settings">
              <span class="material-symbols-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar End -->
      <!-- Main -->
      <main class="main-container" id="main_container">
        <div class="project-container" id="project-container">
          <div class="project-left">
            <div>
              <div class="task-title">
                <h2>PROJECT</h2>
                <span
                  class="material-symbols-outlined"
                  style="color: green"
                  onclick="activeprojectform()"
                  >add</span
                >
              </div>
              <select id="projectselect">
                <% projects.forEach(project => { %>
                <option
                  value="<%= project._id %>"
                  data-image="<%= project.image %>"
                  data-description="<%= project.description %>"
                  data-name="<%= project.name %>"
                >
                  <%= project.name %>
                </option>
                <% }); %>
              </select>
            </div>
            <div class="imageproject-container">
              <h2 id="projectname">Project Name</h2>
              <div class="imageproject">
                <img src="" alt="project image" id="mainprojectimage" />
              </div>
            </div>
            <div class="projectdescription">
              <!-- put description from projects collection -->
              <h3>Description</h3>
              <hr />
              <p id="projectdescription">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita quas praesentium inventore, vitae assumenda nihil
                ratione iusto dolorem possimus, est esse. Ducimus pariatur velit
                ipsa vitae. Ab incidunt sed facere!
              </p>
            </div>
          </div>

          <div class="project-right">
            <!-- Form add tasks -->
            <div class="add-task" id="add-task">
              <div class="add-task-title">
                <h2>Add Task</h2>
                <span
                  class="material-symbols-outlined"
                  onclick="desactivetaskform()"
                  style="color: red"
                  >cancel</span
                >
              </div>

              <form action="/createtask" method="post" class="addtask-form">
                <input type="hidden" name="projectId" id="projectTask" />
                <div class="task-input">
                  <div class="form-group form-group-background">
                    <label for="taskname">Task Name:</label>
                    <input
                      type="text"
                      id="taskname"
                      name="taskname"
                      placeholder="Enter task name.."
                      required
                      autocomplete="off"
                    />
                    <label for="enddate">End Date:</label>
                    <input type="date" id="enddate" name="taskdate" required />

                    <label for="taskdescription">Task Description:</label>
                    <textarea
                      id="taskdescription"
                      name="taskdescription"
                      placeholder="Enter task description.."
                      required
                    ></textarea>
                  </div>
                  <div class="form-group evenly form-group-background">
                    <!-- priority -->
                    <div class="center-form">
                      <label for="priority">Priority:</label>
                      <select name="priority" id="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                      </select>
                    </div>
                    <button type="submit">Add Task</button>
                  </div>
                </div>
                <div class="member-input" id="member_input">
                  <div class="form-group center-form form-group-background">
                    <button onclick="addmember()" type="button">
                      Add Member
                    </button>
                  </div>
                  <div class="form-group center-form form-group-background" id="members_formgroup">
                    <div class="dynamic-grid"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="main-tasks">
              <div class="task-header">
                <div class="task-title">
                  <h2>TASKS</h2>
                  <!-- add task button -->
                  <span
                    class="material-symbols-outlined"
                    style="color: green"
                    id="addtask-button"
                    onclick="activetaskform(this)"
                    >add</span
                  >
                </div>
                <div class="task-filter">
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>All Tasks</h4>
                  </div>
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>Completed Tasks</h4>
                  </div>
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>Incompleted Tasks</h4>
                  </div>
                </div>
              </div>
              <div class="task-list" id="taskList">
                <div id="column_guide" class="task-list-header">
                  <h3>Task</h3>
                  <div class="task-list-header-right">
                    <h3>End Date</h3>
                    <h3>Status</h3>
                    <h3>Priority</h3>
                    <h3>Assignees</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="project-persons">
              <div class="project-admins" id="project_admins">
                <h2>PROJECT ADMINS</h2>
                <div class="admin"></div>
              </div>
              <div class="project-members" id="project_members">
                <h2>PROJECT MEMBERS</h2>
                <div class="member"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="create-project-container" id="create-project-container">
          <div class="main-title">
            <div></div>
            <h2>Create Project</h2>
            <span
              class="material-symbols-outlined"
              onclick="desactiveprojectform()"
              style="color: red"
              >cancel</span
            >
          </div>
          <form
            action="/createproject"
            method="post"
            class="create-project-form"
            enctype="multipart/form-data"
          >
            <div>
              <div class="form-group column-form form-group-background">
                <label for="projectname">Project Name:</label>
                <input
                  type="text"
                  id="projectname"
                  name="projectname"
                  placeholder="Enter project name.."
                  required
                  autocomplete="off"
                />
                <label for="projectdescription">Project Description:</label>
                <textarea
                  maxlength="200"
                  id="projectdescription"
                  name="projectdescription"
                  placeholder="Enter project description.."
                  rows="4"
                  cols="50"
                  required
                ></textarea>
                <div class="evenly">
                  <div class="center-form">
                    <label for="enddate">End Date:</label>
                    <input type="date" id="enddate" name="enddate" required />
                  </div>
                  <div class="center-form">
                    <label for="startdate">Start Date:</label>
                    <input
                      type="date"
                      id="startdate"
                      name="startdate"
                      required
                    />
                  </div>
                </div>
              </div>
              <!-- Dates -->
              <div class="create-project-image">
                <div class="form-group center-form form-group-background">
                  <div class="image-container">
                    <img
                      src="https://www.shutterstock.com/image-vector/image-icon-600nw-211642900.jpg"
                      alt=""
                      style="width: 150px; height: 150px; border-radius: 75px"
                      id="projectimage"
                    />
                    <label for="projectimagefile" class="edit-icon">
                      <span class="material-symbols-outlined">edit</span>
                    </label>
                    <input
                      type="file"
                      id="projectimagefile"
                      name="projectimage"
                      accept="image/*"
                      required
                      hidden
                    />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="member-input2" id="member_input2">
              <div class="form-group center-form form-group-background">
                <div class="center-form">
                  <button onclick="addmemberproject()" type="button">
                    Add Member
                  </button>
                </div>
              </div>
              <div
                class="form-group column-form form-group-background"
                id="members_formgroup2"
              >
                
                <div class="dynamic-grid2">
                  <div class="column-form">
                    <label for="member">Assign Member 1:</label>
                    <div class="evenly">
                      <input
                        type="text"
                        name="usuarios[]"
                        placeholder="Buscar usuario..."
                        list="usuarios-list2"
                      />
                      <datalist id="usuarios-list2">
                        <% users.forEach(user => { %>
                        <option value="<%= user._id %>">
                          <%= user.name %>
                        </option>
                        <!-- Usa el _id -->
                        <% }) %>
                      </datalist>
                      <span class="material-symbols-outlined delete-icon2"
                        >delete</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group center-form form-group-background">
                <button type="submit">Create Project</button>
              </div>
            </div>
          </form>
        </div>
        <script>
          const projectUsers = <%- JSON.stringify(projects.map(project => ({
            _id: project._id,
            assignedUsers: project.assignedUsers.map(user => ({
              _id: user.userId._id,
              name: user.userId.name
            }))
          }))) %>;
        </script>
      </main>
      <!-- Main End -->
    </div>
  </body>
</html>
